    .flex-container {

        display:flex;
        flex-direction: row;
        justify-content: space-around;
        
        
    }

            .flex-container{ 

            background-color: blue;
            margin: 3px;
            padding-right: 10px ;
            border: 1px solid blue;
            color: antiquewhite;
            font-size: larger;
            text-align:middle;
      }

    

        .c{
          display: flex;
          flex-direction: row; 
          text-align: center; 


        }

        .c2{
            display: flex;
            flex-direction: row;
            
        }